.fondo{
    background-color: #a8a7a7;

}


.horarios{
   /* mask-image: linear-gradient(black 80%,
    transparent);
    */
    height: 80%;
    width: 100%;
}

.horarios h2{
    text-transform: uppercase;
    color: #000;
    text-align: center;
}

.imagen{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}